$color-main-dark: #488589;
$color-main: #90C0C4;
$gradient: linear-gradient(88.64deg, $color-main 0%, $color-main-dark 100%); // Main gradient
$gradient-w: linear-gradient(101.61deg, #ffffff 0%, #f6f9fa 100%); // White gradient
$gradient-r: linear-gradient(91.36deg, #F07A7A 0%, #A54949 100%); // Red gradient
$gradient-p: linear-gradient(88.64deg, #af82b7 0%, #7b2789 100%); // Purple gradient
$gradient-b: linear-gradient(88.64deg, #c2e3ea 0%, #467f8b 100%); // Blue gradient
$color-red: #a24b4b;
$shadow-big: 0px 4px 10px rgba(0, 0, 0, 0.15);
$shadow-small: 0px 2px 4px rgba(0, 0, 0, 0.15);
$icon-hover: #659093;

//___ALERT___
$color-alert-access: linear-gradient(88.64deg, #c2e3ea 0%, #467f8b 100%);

// ___TEXT___
$text-grey: #747474;
