$color-main-dark: #476D70;
$color-main: #83B5B8;
$gradient: linear-gradient(88.64deg, $color-main 0%, $color-main-dark 100%); // Main gradient
$gradient-w:  linear-gradient(101.61deg, #FFFFFF 0%, #F6F9FA 100%); // White gradient
$gradient-r: linear-gradient(91.36deg, #EB6060 0%, #8D4646 100%); // Red gradient
$color-red: #A24B4B;
$shadow-big: 0px 4px 10px rgba(0, 0, 0, 0.15);
$shadow-small: 0px 2px 4px rgba(0, 0, 0, 0.15);

// ___TEXT___
$text-grey: #747474;
