$gradient: linear-gradient(88.64deg, #83b5b8 0%, #618580 100%); // Main gradient
$gradient-w:  linear-gradient(101.61deg, #FFFFFF 0%, #F6F9FA 100%); // White gradient
$color-main-dark: #476D70;
$color-main: #83B5B8;
$shadow-big: 0px 4px 10px rgba(0, 0, 0, 0.15);
$shadow-small: 0px 2px 4px rgba(0, 0, 0, 0.15);